backend/bin
frontend/dist
*.tar
*.tar.gz
*.zip
.env
backend/geonius
backend/*.sql
frontend/node_modules
frontend/*.tar
frontend/*.tar.gz
frontend/*.zip
backend/*.zip
backend/*.tar
backend/*.tar.gz
frontend/.vite
microservice/*.mmdb
*.mmdb
worker/geocron
worker/geoworker
backend/main
worker/main
widget/main
widgets/geo_widget
